<header
  *ngIf="showHeader && selected?.label !== 'hideHeader'"
  class="flex flex-row w-full items-center gap-8 p-4"
>
  <button type="button" (click)="previous()">
    <fa-icon class="text-gray-500 text-xl" [icon]="faArrowLeft" />
  </button>
  <div class="grid grid-flow-col auto-cols-auto gap-2 w-full">
    <div
      *ngFor="let step of steps; let i = index"
      class="bg-gray-200 h-1 inline-block rounded"
      [ngClass]="{ 'bg-primary': i <= selectedIndex }"
    >
    </div>
  </div>
</header>
<!-- Content from the CdkStep is projected here -->
<ng-container [ngTemplateOutlet]="selected?.content ? selected!.content : null" />
